{% extends 'layout.html' %}
{% load static %}

{% block title %}Welcome to Turfly{% endblock %}

{% block content %}
<main class="flex justify-center px-6 py-10 flex-1">
        <div class="max-w-[960px] w-full">
          <div class="p-4 rounded-xl min-h-[480px] bg-cover bg-center bg-no-repeat flex flex-col items-center justify-center gap-6" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('https://lh3.googleusercontent.com/aida-public/AB6AXuD2RqwMCDVKab-y3p5QQ31zJIqjgeald8Sp8Pm2rX301-wM3ptgCohRz9msdhQ8n3hHGmhYFKcXpiykHdDU8UbUfj9YEZKqQcD0kiKvUSTpLtER4UQl9UDU13qZoIvJeqdCRX8fC99LhfNfbBayTRewR7yQrA9JgMlL33EeIBNp2sQTXIkluuUkB4RU54_woYhNou0kCERH52bXJvjWdi2o2nN5H8K76p377KkH64uLHo5f3mZS0BoHIAxMUKYPsRMAew82uGCufQ');">
            <div class="text-center space-y-2">
              <h1 class="text-4xl md:text-5xl font-black tracking-tight leading-tight">Welcome to Turfly</h1>
              <p class="text-sm md:text-base font-normal">Find and book the perfect turf for your next game or manage your turf bookings with ease.</p>
            </div>
            <div class="flex flex-wrap justify-center gap-3">
              {% if not user.is_authenticated %}
                <a href="{% url 'account_signup' %}?user_type=player">
                  <button class="h-12 px-5 rounded-full bg-[#1993e5] hover:bg-[#1380cb] text-white font-bold text-sm md:text-base transition">Sign Up as a User</button>
                </a>
                <a href="{% url 'account_signup' %}?user_type=owner">
                  <button class="h-12 px-5 rounded-full bg-[#293238] hover:bg-[#3a464d] text-white font-bold text-sm md:text-base transition">Sign Up as a Turf Owner</button>
                </a>
              {% endif %}
            </div>
            <div class="mt-4">
              {% if user.is_authenticated %}
                <a href="{% url 'usrs:role_redirect' %}">
                  <button class="h-12 px-6 rounded-full bg-white hover:bg-gray-200 text-[#293238] font-bold text-sm md:text-base transition shadow">Dashboard</button>
                </a>
              {% else %}
                <a href="{% url 'account_login' %}">
                  <button class="h-12 px-6 rounded-full bg-white hover:bg-gray-200 text-[#293238] font-bold text-sm md:text-base transition shadow">Login</button>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </main>

{% endblock %}